<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4" align="center">
      <h1>Armstrong numbers</h1>
      <%= bootstrap_form_tag url: result_armstrong_path(format: :html), method: 'get' do |f| %>
        <% if flash[:alert] %>
          <%= f.number_field :number, label: 'Number of digits in number', class: 'is-invalid'%>
          <%= f.label flash[:alert], class: 'text-danger' %>
        <% else %>
          <%= f.number_field :number, label: 'Number of digits in number'%>
        <% end %>
        <%= f.primary 'Show numbers'%>
      <% end %>
    </div>
  </div>
</div>

