<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4" align="center">
      <h1>Armstrong numbers</h1>
      <%= bootstrap_form_tag url: result_armstrong_path, method: 'get' do |f| %>
        <%= f.number_field :number, label: 'Number of digits in number'%>
        <%= f.form_group :format_disp do %>
          <%= f.radio_button :format_disp, 'html', label: 'html', inline: true, checked: true %>
          <%= f.radio_button :format_disp, 'xml', label: 'xml', inline: true %>
        <% end %>

        <%= f.primary 'Show numbers'%>
      <% end %>
    </div>
  </div>
</div>

