<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <%== @html %>
      <%= content_tag 'a', 'Go back', role: 'button', class: 'btn btn-primary', href: armstrong_path %>
    </div>
  </div>
</div>

